
.casillero-item.restringido {
  opacity: 0.45;
  filter: grayscale(30%);
  pointer-events: none; /* impide clicks */
  cursor: not-allowed;
  transition: opacity 0.18s ease, transform 0.12s ease;
}


.casillero-item.permitido {
  opacity: 1;
  outline: 3px solid rgba(13, 110, 253, 0.18);
  box-shadow: 0 0 0 4px rgba(13,110,253,0.06) inset;
}


.casillero-item.restringido.force-clickable {
  pointer-events: auto;
  opacity: 0.8;
}
